@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.inter- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 20px;
}

li{
    list-style: none;
}
#logo{
    width: 150px;
    height: 40px;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.menu{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}


.caixa-img-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search{
    color: grey;
}
.btn-login{
    color: white;
    height: 44px;
    width: 83.31px;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 2px;
    background-color: #EB662B;
    border: none;
}

.categoria{
    display: flex;
    flex-direction: row;
}

